h1{
    font-size:50px;
    text-align: center;
 
    

  }
  p{
    font-size:25px;
    text-align: center;
 
    

  }
  
  body {
    background-color: #000;
    color: #fff;
    display: flex;
     justify-content: center;
     align-items: center;
    height: 100vh; /* Opcional: ajusta la altura según tus necesidades */
     margin: 0; /* Elimina el margen predeterminado del body */
 font-family: Arial, sans-serif; /* Opcional: elige una fuente adecuada */
  }
 



    